<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="A0Utils.Wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.1.0" newVersion="6.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <A0Utils.Wpf.Properties.Settings>
      <setting name="A0InstallationPath" serializeAs="String">
        <value>C:\ProgramData\InfoStroy</value>
      </setting>
      <setting name="YandexUrl" serializeAs="String">
        <value>https://cloud-api.yandex.net/v1/disk/public/resources/?public_key=</value>
      </setting>
      <setting name="LicenseUrl" serializeAs="String">
        <value>https://disk.yandex.ru/d/hnPUoXmttgFECQ</value>
      </setting>
      <setting name="SubscriptionUrl" serializeAs="String">
        <value>https://disk.yandex.ru/d/5qqneiWPRunFtQ</value>
      </setting>
      <setting name="UpdatesUrl" serializeAs="String">
        <value>https://disk.yandex.ru/d/nNydYk44ylLJUg</value>
      </setting>
      <setting name="DownloadUpdatesPath" serializeAs="String">
        <value />
      </setting>
      <setting name="IsLoggingEnabled" serializeAs="String">
        <value>False</value>
      </setting>
    </A0Utils.Wpf.Properties.Settings>
  </userSettings>
</configuration>
